
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/rng-skripts.iml
.idea/vcs.xml
.idea/workspace.xml
.vs/rng-skripts/FileContentIndex/c8280d20-f643-4cd3-bf12-86b4f4a169e9.vsidx
.vs/rng-skripts/FileContentIndex/42111c4a-ea64-4ad4-a60c-1512704c890c.vsidx
.vs/rng-skripts/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/rng-skripts/FileContentIndex/0eff475f-0b11-4a2d-b904-e16dfd383ceb.vsidx
.vs/rng-skripts/FileContentIndex/5ef8d254-e688-4640-b9b5-a411affda300.vsidx
.vs/rng-skripts/FileContentIndex/602c87d0-f8fc-403a-ab40-66932ac3bfa6.vsidx
